<p id = "notice"><%= flash[:notice] %></p>

<%= render partial: "shared/side", locals: { user:@user, book:@book } %>

<h2>Books</h2>
<% @user_book.each do |book| %>
<div>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= link_to book_path(book) do %>
    <%= book.title %>
  <% end %>
  <%= book.body %>
</div>
<% end %>