<div class="container px-0">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side", locals: { user: @user, book: @book } %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
                <% end %><br>
                <%= link_to user_path(@user) do %>
                  <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@user_book) do %>
                  <%= @user_book.title %>
                <% end %>
              </td>
              <td><%= @user_book.body %></td>

              <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@user_book), class:"btn btn-success btn-sm" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@user_book), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-danger btn-sm" %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>